@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4rem 0;
}

h1{
    text-align: center;
    margin: 0 0 3rem;
}

.results{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.result{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    margin: 0 3rem;
}

.result img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    margin: 0 3rem 3rem 3rem;
}

@media (max-width: 580px) {
    .v2{
        text-align: center;
    }
}